.arco-form-item {
  margin-bottom: 0 !important;
}
.arco-input {
  width: 100%;
  padding: 16px;
  font-size: 12px;
  color: #101010;
  background-color: #ffffff;
  border-radius: 12px;
}
/* .arco-input-group {
  border-radius: 12px;
  color: #101010;
  background-color: #ffffff;
} */
.arco-input-inner-wrapper {
  padding-left: 12px;
  padding-right: 12px;
  background-color: #ffffff;
  border-radius: 12px !important;
  color: #101010;
}
.arco-radio {
  margin-right: 0;
  width: 100%;
}
.arco-form-message {
  display: none;
  position: absolute;
  opacity: 0;
}
.ant-form-item {
  margin-bottom: 0 !important;
}
.ant-select-selection-placeholder {
  color: #101010 !important;
  font-size: 12px;
  opacity: 0.3;
}
.ant-form-item-additional {
  display: none !important;
}
