@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-poppins-regular), var(--font-poppins-medium),
    var(--font-poppins-bold);
  font-weight: 400;
}
div {
  box-sizing: border-box;
}
@font-face {
  font-family: "font_family"; /* Project id 4781182 */
  src: url("//at.alicdn.com/t/c/font_4781182_k0wbrwth4ci.woff2?t=1734087366471")
      format("woff2"),
    url("//at.alicdn.com/t/c/font_4781182_k0wbrwth4ci.woff?t=1734087366471")
      format("woff"),
    url("//at.alicdn.com/t/c/font_4781182_k0wbrwth4ci.ttf?t=1734087366471")
      format("truetype");
}
